<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>rooms</title>
</head>
<body>
    <div class="header">
        <h1>room1</h1>
    </div>
    <div class="left">
        <ul class="people">
            <li>Adele</li>
            <li>Agnes</li>
            <li>Billy</li>
            <li>Bob</li>
        </ul>
    </div>
    <div class="right">
            <input type="text" placeholder="send message">
            <input type="button" value="Send">
            <ul class="message">
                <li>Text</li>
                <span>Text here after tag</span>
                <li>Text</li>
                <span>Text here after tag</span>
            </ul>
    </div>
</body>
</html>